@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0D1117;
  --primary: #A3E635;
  --primaryAlt: #304204;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-alt: var(--primaryAlt);
  --font-sans: var(--font-satoshi);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  transition: all 0.2s ease-in-out;
}